.login-background {
    background-color: #DBDADA;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-container {
        width: 350px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

        .login-content {
            padding: 15px; 

            .gach {
                width: 100%;
                margin: 20px 0;
                border-bottom: 1px solid lightgray;
            }
    
            .text-login {
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: 10px;
            }
    
            .login-input {
                margin: 15px 0;
    
                label {
                    margin-bottom: 5px;
                    font-weight: 600;
                }

                .login-password {
                    position: relative;
                    
                    i {
                        position: absolute;
                        right: 5px;
                        top: 10px;
                        cursor: pointer;
                    }
                }
            }
    
            .btn-login {
                width: 100%;
                font-weight: 500;
                background-color: #0D6EFD;
                outline: none;
                border: none;
                border-radius: 5px;
                color: #fff;
                padding: 0.375rem 0.75rem;
    
                &:hover {
                    background-color: #fff;
                    color: #333;
                    border: 1px solid #0D6EFD;
                    transition: .5s;
                    padding: .5s;
                }
            }
    
            .social-login {
                border: 1px solid lightgray;
                text-align: center;
                border-radius: 5px;
    
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;    
                    text-decoration: none;
                    color: #333;
                    font-weight: 500;
                    width: 100%;
                    padding: 0.375rem 0.75rem;
    
                    i {
                        font-size: 1.5rem;
                        color: lightgray;
                        margin-right: 3px;
                    }
                }
            }

            .forgotpass {
                text-align: center;
                margin: 15px 0;
                span a {
                    text-decoration: none;
                    font-weight: 500;
                }
            }

            .create-account {
                text-align: center; 

                span {
                    font-weight: 400;
                    color: gray;
                }

                span a {
                    text-decoration: none;
                    font-weight: 500;
                }
            }
        }
    }
    
}