.slick-prev{
    background-color: rgba(255, 255, 255, 0.2) !important; 
    left: 0px !important;
    z-index: 10;
    width: 44px !important;
    height: 48px !important;
    background-color: gray;
    border: 1px solid #959595 !important;
    color: gray;

    &:hover {
        background-color: rgba(255, 255, 255, 0.5) !important;
    }
}

.slick-next{
    background-color: rgba(255, 255, 255, 0.2) !important; 
    right: 0px !important;
    width: 44px !important;
    height: 48px !important;
    background-color: gray;
    border: 1px solid #959595 !important;
    color: gray;

    &:hover {
        background-color: rgba(255, 255, 255, 0.5) !important;
    }
}

.slick-next:before,
.slick-prev:before {
    font-family: 'FontAwesome' !important;
    color: gray !important;
}

.section-share {
    &.section-specicalty {
        background: #fff;
        margin-bottom: 20px;
    }

    &.section-medical-facility {
        background: #f5f5f5;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        margin-bottom: 20px;
    }

    &.section-outstanding-doctor {
        background: #fff;   
        
    }
}

.section-share {
    height: 330px;
    padding-bottom: 10px;

    .section-container {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .section-header {
            height: 60px;
        }

        .section-body {
            margin-left: -10px;
            margin-right: -10px;

            .img-customize {
                padding: 0 10px;

                .padding {
                    border: 1px solid lightgray;
                    border-radius: 10px;
                }

                .bg-image {
                    width: 100%;
                    height: 190px;

                    img {
                        border-radius: 10px;
                        width: 100%;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    &.outstanding-doctor {
                        display: flex;
                        align-items: center;
                        img {
                            width: 50%;
                            height: 150px;
                            margin: 0 auto;
                        }
                    }
                }

                &.doctor {
                    padding: 10px;
                    div {
                        text-align: center;
                    }

                    .chuyenkhoa {
                        color: gray;
                    }
                }

                &:hover {
                    color: #45c3d2;
                    cursor: pointer;
                }
            }
        }

        .section-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                color: black !important;
            }

            .btn-more {
                padding: 10px 20px;
                outline: none;
                border: none;
                background: lightgray;

                &:hover {
                    background-color: yellow;
                }
            }
        }
    } 
}

