.home-header-container {
    height: 70px;
    width: 1200px;
    margin: 0 auto;
    // padding: 5px 0;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            width: 25%;
            display: flex;
            align-items: center;

            i {
                font-size: 25px;
                color: gray;
            }

            .header-logo {
                height: 100%;
                width: 200px;
                margin-left: 5px;
                img {
                    width: 100%;
                    height: 100%;
                    text-align: left;
                }
            }
        }

        .center-content {
            width: 50%;
            // border: 1px solid black;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .subs-title {
                font-weight: 400;
                font-size: 10px;
            }
        }
        
        .right-content {
            width: 25%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: gray;
            font-weight: 500;

            .support {
                display: flex;
                align-items: center;
                i {
                    font-size: 20px;
                    color: #49bce2;
                }
            }

            .language-vi {
                cursor: pointer;
                margin-left: 5px;

                &.active {
                    color: #49bce2;
                }
            }

            .language-en {
                margin-left: 5px;
                cursor: pointer;

                &.active {
                    color: #49bce2;
                }
            }
        }
    }
}

.home-header-banner {
    position: relative;
    width: 100%;
    height: 85vh;
    z-index: -1;

    .img-banner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .opacity-div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background: black;
        opacity: 0.2;
    }


    .title1 {
        z-index: 3;
        position: absolute;
        width: 100%;
        top: 60px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        text-shadow: 1px 1px 1px #333;
        font-size: 30px;
    }

    .title2 {
        z-index: 3;
        position: absolute;
        width: 100%;
        top: 110px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        color: white;
        text-shadow: 1px 1px 1px #333;
        font-size: 30px;
        letter-spacing: 4px;
    }

    .search {
        z-index: 3;
        position: absolute;
        top: 180px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .search-form{
            padding: 10px;
            background-color: #f7d800;
            border-radius: 30px;
            
            i {
                margin-right: 5px;
            }

            input {
                width: 350px;
                border: none;
                background: transparent;
                outline: none;
            }
        }
    }

    .options {
        z-index: 3;
        position: absolute;
        width: 100%;
        bottom: 0;
        padding-top: 50px;
        padding-bottom: 40px;
        padding-right: 100px;
        padding-left: 100px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background-image: linear-gradient(rgba(255, 255, 255, 0.00000001),rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 1));

        .options-child {   
            // border: 1px solid black;
            width: calc(100% / 9);     
            &:hover {
                color: #49bce2;
            }
            cursor: pointer;

            .icon-child {
                background-color: white;
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                height: 40px;
                width: 40px;
                padding: 10px;
                border-radius: 50%;
                text-align: center;
                margin: 0 auto;
                i {
                    color: #49bce2;
                    font-size: 20px;
                }
            }
    
            .text-child {
                text-align: center;
                font-size: 17px;
                font-weight: 600;
                transition: 0.5s;
            }
        }

    }
}